<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/ultimate.css">
    <title>Results</title>
</head>

<body>
    <%- include('partials/header') %>
    <section id="allVehicles">
        <% for(let i = 0; i < vehicles.length; i++) { %>
        <a id="cards" href="<%= vehicles[i].url %>">
            <h2 class="title"><%= vehicles[i].title %></h2>
            <h3><%= vehicles[i].price %></h3>
            <img class="carImages" src="<%= vehicles[i].image %>" alt="image">
            <form action="/save" method="POST">
                <input type="hidden" name="title" value="<%= vehicles[i].title %>">
                <input type="hidden" name="lat" value="<%= vehicles[i].lat %>">
                <input type="hidden" name="long" value="<%= vehicles[i].long %>">
                <input type="hidden" name="image" value="<%= vehicles[i].image %>">
                <input type="hidden" name="url" value="<%= vehicles[i].url %>">
                <input type="checkbox" name="vehicle" required>
                <input type="submit" value="save">
                <% if(i=== 9) {i = vehicles.length} %>
            </form>
            <% } %>
        </a>
    </section>
    <footer> &copy;SecondHandSearch Team </footer>
</body>

</html>