<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Result</title>
</head>

<body>
    <!-- Shows list of cars from the search request.
    Includes title, price and image only on this page-->
    <main id="allVehicle">
        <% vehicles.forEach((vehicle, index) => { %>
        <h2><%= vehicle.title %></h2>
        <h3>price</h3>

        <!-- Liked it? Check the details of the car -->
        <!-- <a href="detail/<%= index %>"> -->
        <button id="<%= index %>" class="detailsBtn">>View Details</button>
        <!-- </a> -->
        <section id="<%= index %>vehicle">
            <h2><%= vehicle.title %></h2>
        </section>
        <% }) %>
    </main>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>

</html>